body {
    position:relative;
}

h1 {
    font-family: georgia;
    text-shadow: 10px 10px 30px  red;
    font-size: 60px;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 50px gray;
}

.hero {
    text-align: center;
}


#enterName {
margin:20px;
}

#dice {
    border:solid black 2px;
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    font-size: 30px;
    box-shadow: 5px 5px ;
    margin:10px;
    background-color: white;
}

.center { 
    display: flex;
    justify-content: center;
    
}

#btnCenter {
    display:flex;
    justify-content: center;
}

#game {
    text-align: center;
    margin:10px;
}

body {
    background-color: #0000001a;
}


aside {
    border: solid black 2px;
    padding: 5px;
    flex-direction: column;
    position: absolute;
    top:550px;
    box-shadow: 10px 10px gray;
    margin-top: 80px;
    background-color: white;
    padding: 10px;
}

a {
    text-decoration: none;
}

#btnEl {
    display:none;
}



@media screen and (min-width:650px) {

    aside {
        left:100px;
    }  
}




@media screen and (min-width:1024px) {

    aside {
        top:50px;
        right:20px;
        max-width:350px;
        left:20px;
    }  
}